.edit_profile {
    display: flex;
    width: 80%;
    align-items: baseline;
}

.profile-container {
    width: 80%;
    padding: 20px 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 50px;
}

.profile_nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 10px;

}

.profileCompo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.profile_nav button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    /* transition: background-color 0.3s ease-in-out; */
}

.profile_nav button:focus {
    border-bottom: 1px solid black;
    transform: translate3d(2px, 2px, 2px);
}


@media (max-width: 800px) {

    .profile {
        width: 100%;
        /* font-size: small; */
        padding: 0;
    }

    .profile_nav {
        width: 99%;
        overflow: hidden;
        overflow-x: scroll;
        gap: 10px;

    }

}