* {
    font-family: 'Poppins';
    font-style: normal;
}

.take-home-assignment-container {
   padding: 30px;
}

/* ------------------------ test-details-section starts------------------------*/

.test-details-section{
    margin-bottom: 70px;
}

#test-details-heading, #test-details-description,#test-details-metadata{
    margin: 10px 0;
}
#test-details-description{
    color: #555;
}

/* ------------------------ test-details-section ends---------------------------*/
/* ------------------------ flow-cards-container starts-------------------------*/

.flow-cards-container{
    display: flex;
    justify-content: center;
}

.flow-card{
    width: 500px;
    min-width: 400px;
    margin: 60px 20px;
    display: flex;
}

.flow-card-icon{
    height: 30px;
    width: 30px;
}

.flow-card-icon-container{
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
}

.flow-card-content{
    
    padding: 20px;
    border-radius: 25px;
}

#flow-card-heading{
    margin-bottom: 10px;   
    font-weight: 600;
}

#flow-card-description{
    margin-bottom: 40px;  
    color: #333; 
}

.card1{
    background-color: #FDF3EA;
}

.card2{
    background-color: #EEECFF;
}

.icon1{
    background-color: #FDF3EA;
}

.icon2{
    background-color: #D5D0FC;
}


/* ------------------------ flow-cards-container ends---------------------------*/

.button {
    box-sizing: border-box;
    /* position: absolute; */
    width: 118px;
    height: 40px;
    left: 0px;
    font-family: "Poppins";
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 5px;
    color: white;
    background: #F9A826;
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.secondary-btn {
    box-sizing: border-box;
    /* position: absolute; */
    width: 118px;
    height: 40px;
    left: 0px;
    font-family: "Poppins";
    font-weight: 700;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 5px;
    color: #F9A826;
    background: white;
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 5px;
    cursor: pointer;
}

.secondary-btn:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}