.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    background: #F1F1F1;
    border-bottom: 1px solid #CCCCCC;
    position: sticky;
    top: 0;
    z-index: 5;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_img {
    width: 60px;
    height: 60px;
}

.noti_img {
    width: 24px;
    height: 28px;
}

.profile_img {
    width: 60px;
    height: 60px;
    background: #D9D9D9;
    border: 1px solid #000000;
    /* box-shadow: 4px 4px 0px #000000; */
    border-radius: 100%;
}


.side_nav {
    position: sticky;
    top: 70px;
    background-color: rgba(217, 217, 217, 0.17);
    min-width: 180px;
    padding: 50px 30px;
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav_items_div {
    display: flex;
    flex-direction: column;
}

.nav_item {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    color: #000000;
}

.active {
    color: #F9A826;
    background-color: #FFE6BF;
    border-radius: 5px;
}

.side_nav_img {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.nav_item h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
}

@media (max-width: 1100px) {
    .side_nav {
        min-width: 150px;
    }
}

.collapse_sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    /* Sidebar starts offscreen */
    width: 180px;
    background-color: #fff;
    transition: left 0.3s ease;

    /* background-color: rgba(217, 217, 217, 0.17); */
    padding: 50px 30px;
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.none {
    display: none;
}

.visible {
    display: block;
}

/* nav.css */

/* Styles for the profile image */
.profile_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Styles for the dropdown menu */
.dropdown-menu {
    min-width: 150px;
    padding: 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the dropdown items */
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-item button {
    background: none;
    border: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-item button:hover {
    text-decoration: underline;
}

@media (max-width: 400px) {
    .collapse_sidebar {
        width: 140px;
        padding: 20px 10px;
        justify-content: space-between;
        z-index: 4;
    }
}