.option {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;

    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    width: 190px;
    height: 60px;
    min-width: max-content;
}

.option_val {
    height: 200px;
}

.option:focus {
    outline: none;
}

@media (max-width: 800px) {

    .option {
        font-size: 14px;
        padding: 5px;
    }
}